[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "site/plugins/kirby-blade"]
	path = site/plugins/kirby-blade
	url = https://github.com/afbora/kirby-blade.git
