@font-face {
  font-family: 'ff-meta-serif';
  src: url('../font/MetaWeb-Normal.eot'),
       url('../font/MetaWeb-Normal.eot?#iefix') format('embedded-opentype'),
       url('../font/MetaWeb-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'meta-cd';
  src: url('../font/MetaWeb-CondNormal.eot'),
       url('../font/MetaWeb-CondNormal.eot?#iefix') format('embedded-opentype'),
       url('../font/MetaWeb-CondNormal.woff') format('woff'),
       url('../font/MetaWeb-CondNormal.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {font-size: 100%}

body {
  font-family: 'ff-meta-serif', sans-serif;
  cursor: auto;
}
.bg-lightest-gray {background-color: #fefefe}

.meta-cd{
  font-family: 'meta-cd', sans-serif;
}

::selection {
  background: #ffb700;
  color: #fff;
}

::-moz-selection {
  background: #ffb700;
  color: #fff;
}

.cc1 { column-count: 1 }
@media screen and (max-width: 30em) {
  .o-30-s {opacity: 0.3}
}
@media screen and (min-width: 30em) {
  .o-100-ns {opacity: 1}
  .cc3-ns { column-count: 3 }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .o-100-m {opacity: 1}
  .cc2-m { column-count: 2 }
}
@media screen and (min-width: 60em) {
  .o-100-l {opacity: 1}
  .cc3-l { column-count: 3 }
}
/*Vue styles*/

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}